<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Choose Your Language</h1>
    <form action="http://192.168.1.205:5000/language" method="POST">
        <label for="language">Выберите язык:</label>
        <select name="language">
        <option value="en">English</option>
        <option value="ru">Русский</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>